.my-card{
    box-shadow: var(--shadow);
    padding: 0.2rem !important;
    font-family: "Montserrart , sans-serif" !important;
    flex: 1;
    min-width: 400px;
    border-radius: 0.5rem;
    margin: 1rem;
}

.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 600;
}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
    flex-wrap: wrap;
    gap: 16px;

}
.my-card p{
   margin: 0;
}